@model ECommerceMVC.ViewModels.HangHoaPagingVM

@{
	ViewData["Title"] = "Index";
	Layout = "_DanhSachHangHoa";
}

<!-- Tổng số sản phẩm -->
<h3> Có <b>@Model.TotalItems</b> sản phẩm.</h3>

<!-- Hiển thị danh sách sản phẩm -->
@await Html.PartialAsync("ProductItem", Model.Items)

<!-- Phân trang -->
<div class="col-12">
	<div class="pagination d-flex justify-content-center mt-5">
		@if (Model.CurrentPage > 1)
		{
			<a class="rounded" href="@Url.Action("Index", new { loai = ViewBag.CurrentLoai, page = Model.CurrentPage - 1 })">&laquo;</a>
		}

		@for (int i = 1; i <= Model.TotalPages; i++)
		{
			<a class="rounded @(i == Model.CurrentPage ? "active" : "")"
			   href="@Url.Action("Index", new { loai = ViewBag.CurrentLoai, page = i })">@i</a>
		}

		@if (Model.CurrentPage < Model.TotalPages)
		{
			<a class="rounded" href="@Url.Action("Index", new { loai = ViewBag.CurrentLoai, page = Model.CurrentPage + 1 })">&raquo;</a>
		}
	</div>
</div>
